<md-input placeholder="Search" [(ngModel)]="searchText">
</md-input>
<button md-icon-button (click)="search()">
    <md-icon class="md-24">search</md-icon>
</button>
<div *ngIf="isLoading">
  Loading...
</div>
<div *ngIf="!isLoading">
  <md-list>
    <md-list-item *ngFor="let employee of employeeList" (click)="loadProfile(employee)">
      <img md-list-avatar [src]="employee.avatar" alt="img">
      <h3 md-line>{{employee.first_name + ' ' + employee.last_name}}</h3>
      <p md-line>
        <span>lvl. {{employee.level}}</span>
      </p>
    </md-list-item>
  </md-list>
</div>