<md-tab-group (focusChange)="changeTab($event)">
  <md-tab>
    <template md-tab-label>Account</template>
    <!-- <template md-tab-content>
      <p>account</p>
    </template> -->
  </md-tab>
  <md-tab>
    <template md-tab-label>Ranking</template>
    <!-- <template md-tab-content>
      <p>ranking</p>
    </template> -->
  </md-tab>
  <md-tab>
    <template md-tab-label>Activity</template>
    <!-- <template md-tab-content>
      <p>activity</p>
    </template> -->
  </md-tab>
  <md-tab>w
    <template md-tab-label>Top Tags</template>
    <!-- <template md-tab-content>
      <p>content</p>
    </template> -->
  </md-tab>
</md-tab-group>

<router-outlet></router-outlet>
