<md-sidenav-layout>
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
    <a routerLink="/events" routerLinkActive="active">Events</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/settings" routerLinkActive="active">Settings</a>
  </md-sidenav>

  <md-toolbar color="primary" class="md-primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    <span>Belatrix Connect</span>
  </md-toolbar>
<router-outlet></router-outlet>
</md-sidenav-layout>

