<md-sidenav-layout>
  <md-sidenav #sidenav mode="side" class="app-sidenav" [opened]="showSideBar && showToolBar">
    <span>Belatrix Connect</span>
    <md-list>
      <md-list-item>
        <a md-button routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </md-list-item>
      <md-list-item>
        <a md-button routerLink="/contacts" routerLinkActive="active">Contacts</a>
      </md-list-item>
      <md-list-item>
        <a md-button routerLink="/events" routerLinkActive="active">Events</a>
      </md-list-item>
      <md-list-item>
        <a md-button routerLink="/about" routerLinkActive="active">About</a>
      </md-list-item>
      <md-list-item>
        <a md-button routerLink="/settings" routerLinkActive="active">Settings</a>
      </md-list-item>
      <md-list-item>
        <button md-button (click)="logOut()">Log Out</button>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <md-toolbar color="primary" *ngIf="showToolBar">
    <button class="app-icon-button" (click)="onMenuClick()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    <span>{{title}}</span>
  </md-toolbar>
  <!-- <div class="container"> -->
    <router-outlet (activate)='onRouterOutletActivate($event)'></router-outlet>
  <!-- </div> -->
</md-sidenav-layout>

