<md-sidenav-layout>
  <md-sidenav #sidenav mode="side" class="app-sidenav" [opened]="showSideBar && showToolBar">
    <span>Belatrix Connect</span>
    <md-nav-list>
      <a md-list-item routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a md-list-item routerLink="/contacts" routerLinkActive="active">Contacts</a>
      <a md-list-item routerLink="/events" routerLinkActive="active">Events</a>
      <a md-list-item routerLink="/about" routerLinkActive="active">About</a>
      <a md-list-item routerLink="/settings" routerLinkActive="active">Settings</a>
      <a md-list-item (click)="logOut()">Log Out</a>
    </md-nav-list>
  </md-sidenav>

  <md-toolbar color="primary" *ngIf="showToolBar">
    <button class="app-icon-button" (click)="onMenuClick()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    <span>{{title}}</span>
  </md-toolbar>
  <!-- <div class="container"> -->
    <router-outlet (activate)='onRouterOutletActivate($event)'></router-outlet>
  <!-- </div> -->
</md-sidenav-layout>

