<form [formGroup]="signInForm" (ngSubmit)="logIn()">
  <md-icon>person</md-icon>
  <md-input formControlName="username" placeholder="User Name"></md-input><br>
  <md-icon>lock</md-icon>
  <md-input formControlName="password" type="password" placeholder="Password"></md-input>
  <br>
  <button md-raised-button type="submit" [disabled]="!signInForm.valid" color="primary" >LOG IN</button>
</form>
<br>
<div [hidden]="!isLoading">
  <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>
<span style="color:red">{{errorMessage}}</span>
<hr>
<a routerLink="/forgot-password">Forgot Password</a>
<br>
<a routerLink="/register">Register new account</a>
