<div *ngIf="isLoading">
  Loading infooooo...
</div>
<div *ngIf="!isLoading">

  <div>
    <div>
      <img [src]="employeeDetails.avatar" />
    </div>
    <div>
      {{employeeDetails.first_name}} {{employeeDetails.last_name}}
    </div>
    <div>
      {{employeeDetails.email}}
    </div>
    <div>
      {{employeeDetails.skype_id}}
    </div>
    <div>
      {{employeeDetails.location.name}}
    </div>
  </div>

  <app-ranking-detail [ranking]="employeeDetails"></app-ranking-detail>
  <app-star-detail [stars]="employeeStarList"></app-star-detail>

</div>

<br>
<app-recommendation-button></app-recommendation-button>
